@import "compass/css3/transform-legacy";
@mixin cover{
   	$len:70%;
	position:absolute;
	left:(100%-$len)/2;
	top:(100%-$len)/2;
	width:$len;
	height:$len;
}
@mixin CoverPosition($width,$height,$left,$top,$rotate){
	position:absolute;
	width:$width;
	height:$height;
	left:$left;
	top:$top;
	@include rotate($rotate);
	img{
		width:$width;
		height:$height;
	}
}
#mainpage{
	h3{
		color:white;
		position:absolute;
		right:10%;
		bottom:5%;
	}
}
